@font-face {
    font-family: "Gilroy";
        src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
             url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
        src: url("../fonts/gilroylight.woff2") format("woff2"),
             url("../fonts/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

body {
  margin: 0;

  font-family: "Gilroy", "OpenSans", sans-serif;

  color: #000000;

  background-color: #ffffff;

}

a {
  text-decoration: none;
  color: #000000;
  }

.vissually-hidden {
  display: none;
}

.header {
  position:relative;
  width: 1160px;
  height: 150px;
  margin: auto;
  background: #F7E296;
}

.header a:hover{
  opacity: 0.6;
}

.header a:active {
  opacity: 0.3;
}

.head {
  margin: 50px;
}

.logo-header {
  position: absolute;
  top: -20px;
  left: 55px;
}

.header-main {
  display: inline-block;
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 30px;
}

.header-user {
  margin-top: -30px;
  margin-left: 66px;
}

.search-form input {
  margin-top: 50px;
  opacity: 0.3;
  border: 0px;
  background: transparent;
}

.header-login {
  margin-left: 487px;
}

.header-compare {
  margin-left: 210px;
}

.header-cart {
  margin-left: 40px;
}

.user::before {
  display: inline-block;
  content: "";
  margin-right: 10px;
}

.search::before {
  margin-left: 0px;
  width: 16px;
  height: 16px;
  background: url("../img/search.svg") 50% 50% no-repeat;
}

.header-login::before {
  margin-right: 13px;
  width: 13px;
  height: 12px;
  background: url("../img/user.svg") 50% 50% no-repeat;
}

.header-compare::before {
  width: 10px;
  height: 10px;
  background: url("../img/compare.svg") 50% 50% no-repeat;
}

.header-cart::before {
  width: 12px;
  height: 12px;
  background: url("../img/cart.svg") 50% 50% no-repeat;
}

.section-links {
  width: auto;
}

.header-info {
  list-style: none;
  font-family: "Gilroy",sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  line-height: 24px;
  margin-left: -40px;
}

.header-info li {
  display: inline-block;
}

.header-delivery {
  margin-left: 347px;
}

.header-warranty {
  margin-left: 50px;
}

.header-contacts {
  margin-left: 111px;
}

/*
.links-item {
  list-style: none;
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 36px;
}
*/

/*inner-->*/
.breadcrumbs {
  display: inline-block;
  list-style: none;
  opacity: 0.3;
  font-family: "OpenSans",sans-serif;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 24px;
}

.catalog-item {
  display: flex;
  width: 1100px;
  margin: auto;
}

.filter {
  width: 270px;
}

.link-item {
  width: 850px;
}

.link-item a {
  justify-content: space-between;
}

.price {
  font-family: "Gilroy",sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.18px;
  line-height: 24px;
}

.inner span {
  font-family: "Gilroy",sans-serif;
  font-size: 16px;
  color: #464646;
  letter-spacing: 0.16px;
  text-align: right;
  line-height: 24px;
}

/*<--inner-/-index-->*/
.index h1 {
  font-family: "Gilroy" , sans-serif;
  font-size: 47px;
  color: #000000;
  letter-spacing: 0.17px;
  line-height: 56px;
  position: relative;
}

.index .link-info {
  position: relative;
  padding: 15px;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 3.5px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  z-index: 0;
}


.index .link-info:hover::before {
  height: 100%;
  background: #F0C52E;
}

.index p {
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: #464646;
  letter-spacing: 0.15px;
  line-height: 30px;
}

.link-info::before {
  position: absolute;
  display: inline-block;
  content: "";
  background: #FFC600;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 0;
  transition: height 0.3s;
  transform: translateY(-50%);
  z-index: -1;
}

.main-content {
position: relative;
}

.device-container {
  display: flex;
  width: 1160px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.block-controls {
  position: absolute;
  width: 10%;
  text-align: right;
  transform: translateX(-50%);
}

.block-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.block-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #000000;

  border-radius: 50%;
}

.device-list {
  position: relative;
  top: -16px;
  left: -40px;
  list-style: none;
}

.device-item {
  position: absolute;
  display: none;
}

#monopod:checked ~ .device-list .device-item:nth-child(1) {
  display: block;
}

#bracelet:checked ~ .device-list .device-item:nth-child(2) {
  display: block;
}

#drone:checked ~ .device-list .device-item:nth-child(3) {
  display: block;
}

#monopod:checked ~ .device-list .monopod-block [for="monopod"],
#bracelet:checked ~ .device-list .bracelet-block [for="bracelet"],
#drone:checked ~ .device-list .drone-block [for="drone"] {
  position: absolute;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: #000000;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}


.number {
  display: flex;
  justify-content: flex-end;
  font-family: "Gilroy", sans-serif;
  font-size: 180px;
  color: #FFFFFF;
  letter-spacing: 0.36px;
  font-weight: bold;
  margin-right: 40px;
  background-image: linear-gradient(#F7E296,#F7E296);
  width: 1160px;
  height: 140px;
  margin: auto;
  margin-bottom: -62px;
}

.specification {
  max-width: 510px;
  margin-left: 560px;
}


table {
  border-spacing: 50px 30px;
  margin-left: -50px;
}


.settings td {
  font-family: "Gilroy",sans-serif;
  font-size: 36px;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 48px;
}

.settings th {
  font-family: "OpenSans",sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #464646;
  letter-spacing: 0.13px;
  line-height: 20px;
}

.catalog-sections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.catalog-sections .link {
  width: 160px;
  font-family: "Gilroy" , sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.18px;
  line-height: 24px;
  text-align: left;
}

.catalog-sections .link:active {
  opacity: 0.3;
}

.catalog-sections .link::before {
  display: block;
  content: "";
  background: #F7E296;
  width: 160px;
  height: 160px;
}

.catalog-sections a {
  position: relative;
}

.catalog-sections .virt::after {
  position: absolute;
  top: 53px;
  left: 31px;
  display: block;
  content: "";
  background: url("../img/virt.svg") 50% 50% no-repeat;
  width: 97px;
  height: 55px;
}

.catalog-sections .monopod::after {
  position: absolute;
  top: 41px;
  left: 38px;
  display: block;
  content: "";
  background: url("../img/monopod.svg") 50% 50% no-repeat;
  width: 87px;
  height: 117px;
}

.catalog-sections .camera::after {
  position: absolute;
  top: 38px;
  left: 49px;
  display: block;
  content: "";
  background: url("../img/camera.svg") 50% 50% no-repeat;
  width: 72px;
  height: 88px;
}

.catalog-sections .bracelet::after {
  position: absolute;
  top: 49px;
  left: 28px;
  display: block;
  content: "";
  background: url("../img/bracelet.svg") 50% 50% no-repeat;
  width: 97px;
  height: 55px;
}

.catalog-sections .clock::after {
  position: absolute;
  top: 32px;
  left: 55px;
  display: block;
  content: "";
  background: url("../img/clock.svg") 50% 50% no-repeat;
  width: 57px;
  height: 98px;
}

.catalog-sections .drone::after {
  position: absolute;
  top: 49px;
  left: 13px;
  display: block;
  content: "";
  background: url("../img/drone.svg") 50% 50% no-repeat;
  width: 133px;
  height: 70px;
}

.catalog-sections .link:hover::before{
  background: #F0C52E;
  opacity: 1;
}

/*-------------------*/
.slider {
  position: relative;
  background-color: #E5E5E5;
}

.container {
  display: flex;
  width: 1160px;
  margin: auto;
}

.slider-controls {
  max-width: 10%;
  border-right: 5px solid black;
  padding-right: 60px;
  height: 270px;
  top: -50px;
  left: 15px;
  position: relative;
}

.slider-controls label:active {
  color: #F0C52E;
}

.slider-controls .link-info:active::before {
  background: #000000;
}

.slider-controls .link-info {
  bottom: -40px;
}

.slider-controls .link-info:nth-child(2) {
  bottom: -80px;
  left: 5px;
}
.slider-controls .link-info:nth-child(3) {
  bottom: -120px;
  left: 15px;
}

.slider-list {
  position: relative;
  width: 100%;
  left: 180px;
  top: -78px;
  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item p {
  max-width: 47%;
}

.slide-credit p {
  max-width: 49%;
}

.slide-delivery {
  position: absolute;
  background: url("../img/delivery.svg") 70% 75% no-repeat;
}

.slide-warranty {
  position: absolute;
  background: url("../img/warranty.svg") 70% 75% no-repeat;
}

.slide-credit {
  position: absolute;
  background: url("../img/credit.svg") 70% 65% no-repeat;
}

#delivery:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#warranty:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#credit:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#delivery:checked ~ .slider-controls .link-info[for="delivery"],
#warranty:checked ~ .slider-controls .link-info[for="warranty"],
#credit:checked ~ .slider-controls .link-info[for="credit"] {
  color: #F0C52E;
  background-color: #000000;
  opacity: 1;
}
/*------*/
.partners {
  display: flex;
  max-width: 1160px;
  margin: 100px auto;
  }

.label {
  border: 1px solid #E5E5E5;
}

.spg {
  margin: 0 37px;
}

.vive {
  margin-left: 37px;
}

.dji:hover {
  background: url("../img/djibright.png") 50% 50% no-repeat;
}

.spg:hover {
  background: url("../img/spgbright.png") 50% 50% no-repeat;
}

.gopro:hover {
  background: url("../img/goprobright.png") 50% 50% no-repeat;
}

.vive:hover {
  background: url("../img/vivebright.png") 50% 50% no-repeat;
}

.main-info {
  display: flex;
  max-width: 1160px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 50px;
}

.about {
  flex-basis: auto;
  width: 466px;
    }

.main-info h1::after {
  position: absolute;
  display: inline-block;
  content: "";
  background: #000000;
  width: 80px;
  height: 8px;
  left: 0;
  top: -50px;
}

.contacts {
  width: 560px;
  }

.about p {
  margin-bottom: 35px;
}

.list {
  list-style: none;
  font-family: "Gilroy",sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.list li::before {
  display: inline-block;
  content: "";
  border-radius: 50% ;
  border: 2px solid #D8D8D8;
  width: 5px;
  height: 5px;
  margin-right: 10px;
}

.maps img {
  width: 100%;
  height: auto;
}

.contacts a {
  top: 94px;
}

.footer {
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 30px;
  color: #FFFFFF;
  background: #464646;
  width: auto;
}

.footer-content {
  max-width: 1160px;
  margin: auto;
}

.footer a {
  color: #ffffff;
}

.footer a:hover{
  opacity: 0.6;
}

.footer a:active {
  opacity: 0.3;
}

.logo-footer {
  margin-top: 50px;
}

.footer-user {
  list-style: none;
  opacity: 0.7;
  letter-spacing: 0.15px;
  line-height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -50px;
}

.footer-login {
  margin-right: 65px;
  }

.footer-compare {
  margin-right: 65px;
}

.footer-login::before {
  width: 13px;
  height: 12px;
  background: url("../img/user-footer.svg") 50% 50% no-repeat;
  }

.footer-compare::before {
  width: 10px;
  height: 10px;
  background: url("../img/compare-footer.svg") 50% 50% no-repeat;
}

.footer-cart::before {
  width: 12px;
  height: 12px;
  background: url("../img/cart-footer.svg") 50% 50% no-repeat;
  }

.footer-info {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.footer-info ul {
  display: flex;
  list-style: none;
  font-family: "Gilroy",sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  line-height: 24px;
  width: 33%;
}

.footer-warranty {
  margin: 0 20px;
}

.social-block {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.social-block::before {
  position: absolute;
  display: inline-block;
  content: "";
  background: #FFC600;
  width: 80px;
  height: 8px;
}

.social-link {
  margin-left: 90px;
  opacity: 0.2;
}

.social::before {
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  bottom: 20px;
}

.fbook::before {
  background: url("../img/fb.svg") 50% 50% no-repeat;
}

.insta::before {
  margin: 0 10px;
  background: url("../img/instagram.svg") 50% 50% no-repeat;
}

.twit::before {
  background: url("../img/twitter.svg") 50% 50% no-repeat;
}
